<!doctype html>


<title>2019 Movie Search</title>


<body>
<h3><strong>2019 Film Search</strong></h3>
<hr />
<form action="results/1" name="search" method="post" style="text-align: center;margin-top: 100px">

    <span>Query:</span>
    <input type="text" name="query" size=20>
    <span>Director:</span>
    <input type="text" name="director" size=20>
    <span>Starring:</span>
    <input type="text" name="starring" size=20>
    <span>Location:</span>
    <input type="text" name="location" size=20>

    {# Use a hidden variable called page_num to track the result page number.
     We will increment this when the next button is selected. #}

    <input type="submit" value="Search" style="font-size: 30px">
</form>


</body>
